* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 62.5%;
}

body {
    --main-color: #312D64;
    font-size: 1.6rem;
}

h1 {
    font-size: 3.2rem;
}

h1,
h2 {
    color: #B52184;
    margin-top: 2.3rem;
    font-weight: bolder;
}

header {
    max-width: 43rem;
    margin-inline: auto;
    text-align: center;
}

header p {
    font-weight: 600;
    font-size: 2.0rem;
    color: var(--main-color);
    margin-top: .1rem;
}

p {
    margin-top: 1.0rem;
}

#seta-abaixo {
    margin-top: 3.5rem;
}

main {
    max-width: 43rem;
    margin-inline: auto;
    padding: 5.3rem 3.9rem;
    background: var(--main-color);

    display: grid;
    justify-content: center;

    margin-top: 8.8rem;
}

.part1 {
    display: grid;
    gap: 5rem;
    width: 100%;
    /* grid-template-columns: 15rem 1fr; */
    align-items: center;
    margin-top: auto;
}

.card {
    background: #FFFFFF;
    padding: 2.6rem 6.0rem 2.6rem 2.6rem;
}

.card,
input,
input[type="text"],
input[type="email"],
textarea,
::placeholder,
textarea::placeholder,
p {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    border-radius: 1.6rem;
    color: var(--main-color);
}

.container2 {
    max-width: 43rem;
    margin-inline: auto;
    padding: 7.8rem 3.9rem 6.5rem 4.0rem;

    /* display: grid; */
    background: #FFFFFF;
}

form {
    margin-top: 4.3rem;
    display: grid;
    gap: 2.4rem;
}

input {
    width: 34.8rem;
    height: 4.8rem;
    padding: 1.6rem 5.0rem;
}

input[type="text"] {
    font-weight: 600;
}

input[type="email"] {
    font-weight: 600;
}

textarea {
    width: 34.8rem;
    height: 12.6rem;
    padding: 1.2rem 1.6rem;
}

::placeholder {
    line-height: 100%;
}

textarea::placeholder {
    line-height: 100%;
}

button {
    border-radius: 1.6rem;
    width: 15.1rem;
    height: 4.5rem;
    font-size: 1.4rem;
    color: #FFFFFF;
    background: #343193;
    border-style: none;
}

footer {
    max-width: 43rem;
    margin-inline: auto;
    padding: 3.2rem 5.3rem;
    background: #343193;
    text-align: center;
}

footer p {
    color: #FFFFFF;
    font-size: 2.0rem;
}

/* código para imagem dentro do input */
.input-with-icon {
    position: relative;
}

.input-with-icon input {
    padding-left: 5.0rem;
    /* Para deixar espaço para a imagem */
}

.input-icon {
    position: absolute;
    left: 2rem;
    /* Ajuste conforme necessário */
    top: 50%;
    transform: translateY(-50%);
    width: 1.95rem;
    /* Ajuste conforme necessário */
    height: 2.1rem;
    /* Ajuste conforme necessário */
}

/* linear gradiente */
.linear-gradient {
    /* height: 2.1rem; */
    background: linear-gradient(to right, #343193, #302C63);
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
}

/* transition */
.card img {
    /* background-color: #4CAF50; */
    /* color: white; */
    /* padding: 14px 20px; */
    /* border: none; */
    border-radius: 4px;
    cursor: pointer;
    /* transition: background-color 0.3s ease, transform 0.3s ease; */
    transition: all 200ms ease-out;
    /* Transição para múltiplas propriedades */
}

.card img:hover {
    width: 13.1rem;
    transform: scale(1) rotate(-5deg);
    /* Aumentar a escala ao passar o mouse */
}

#seta-abaixo:hover {
    /* width: 15.1rem; */
    transform: scale(1.3);
    /* Aumentar a escala ao passar o mouse */
}

#astronauta {
    animation: move 1s forwards alternate infinite, blink 100ms infinite;
}

@keyframes move {

    /* @keyframes define a animação */
    /* from */
    /* 0% {
        
    } */
    /* to */
    100% {
        transform: translateY(calc(40vw - 250% - 20rem));
    }
}

@media (min-width: 1120px) {
    /* *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        max-width: 144.0rem;
    }  */

    header {
        padding: 0 3rem 0 11rem;

        /* max-width: 43rem; */
        /* margin-inline: auto; */
        /* display: flex; */
        /* align-items: baseline; */
        /* padding: 0 3.0rem 10.3rem 10.9rem; */
        /* height: 86.6rem; */
        text-align: left;
        /* margin-top: 0; */
        /* display: grid; */
        /* grid-template-columns: auto 1fr; */
        /* Define duas colunas */
        /* gap: 1rem; */
        /* Adiciona um espaço entre as colunas */
        /* align-items: center; */
        /* max-width: fit-content; */
    }

    main {
        flex-direction: row;
        max-width: fit-content;
        gap: 16rem;

        /* padding: 9rem 6rem; */

        margin-top: 13.6rem;
    }

    header,
    main,
    footer,
    .container2 {
        max-width: 144.0rem;
    }


    .container {
        display: flex;
        /* align-items: center;  */
        /* Alinha verticalmente ao centro */
        justify-content: flex-start;
        /* Alinha horizontalmente ao início */
        gap: 2rem;
        /* display: grid; */
        /* grid-template-columns: 60rem 72rem; */
        /* gap: 1.0rem; */
        /* Espaço entre as colunas */
        /* justify-items: center; */
        align-items: center;
        /* justify-content: center; */
    }

    .left-column {
        order: 2;
        /* Define a ordem do item para 2 */
        flex: 1;
        /* grid-column: 2;  */
        /* Ocupa uma porção flexível do container */
        /* justify-self: start; */
        /* margin-right: -3rem;  */
    }

    .right-column {
        order: 1;
        /* Define a ordem do item para 1 */
        flex: 2;
        /* Espaço entre as colunas */
        /* grid-column: 1; */
        /* Ocupa duas porções flexíveis do container */
    }

    header p {
        font-size: 3.2rem;
    }

    h1 {
        margin-top: 31rem;
        font-size: 5.9rem;
    }

    #astronauta {
        width: 71.9rem;
        height: 73.2rem;
    }

    #seta-abaixo {
        margin-top: 17.9rem;
    }

    h2 {
        font-size: 3.5rem;
        line-height: 5rem;
    }

    p {
        font-size: 1.9rem;
        line-height: 2.5rem;
    }

    .part1 {
        display: grid;
        grid-template-columns: 38rem 38rem 38rem;
        /* Adiciona um espaço entre as colunas */
        gap: 6rem;
        align-items: center;
    }

    .container2 {
        padding: 0 0 0 11rem;
        display: flex;
        /* align-items: center;  */
        /* Alinha verticalmente ao centro */
        justify-content: flex-start;
        /* Alinha horizontalmente ao início */
        gap: 9.2rem;
        /* display: grid; */
        /* grid-template-columns: 60rem 72rem; */
        /* gap: 1.0rem; */
        /* Espaço entre as colunas */
        /* justify-items: center; */
        align-items: center;
        /* margin-right: 6rem; */
    }

    .container2 .left-column {
        order: 1;
        flex: 1;
    }

    .container2 .right-column {
        order: 2;
        flex: 2;
        width: 64rem;
        margin: 0 .4rem;
    }

    .container2 h1 {
        margin-top: 2rem;
        font-size: 4.2rem;
    }

    button {
        padding: 1rem 1.6rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
    }

    input {
        width: 59rem;
    }

    textarea {
        width: 59rem;
    }

    /* código para imagem dentro do input */
    .input-icon {
        left: 2rem;
    }

    footer {
        margin-top: 0;
    }

    @keyframes move {}
}